.column 
  float: left
  width: 50%


.row:after 
  content: ""
  display: table
  clear: both

.presentation-section
    padding-top: 200px
    padding-bottom: 20px
    text-align: right
    letter-spacing: 0.2em
    padding-left: 200px


