.column 
  float: left
  width: 50%


.row:after 
  content: ""
  display: table
  clear: both

.presentation-header
    padding-top: 200px
    padding-bottom: 20px
    text-align: right
    letter-spacing: 0.2em
    padding-left: 200px


.presentation-section
    letter-spacing: 0.2em
    text-align: justify
    margin: 146px 0px 10px calc((100% - 980px) * 0.5)