---
layout: default
---

<section>
  <div class="presentation-header">
    <p>HI, MY NAME IS NAIA, SPANISH ARTIST & THE PERSON BEHIND NAIA ITURRIOZ STUDIO</p>
  </div>
  
    <div class="column">
      <div class="presentation-section">
      <p>Hey! It´s Amaia. I´m an artist and interior designer based in Spain.        
        I combine both of my passions creating artworks that are not only meaningful by themselves but connected to the spaces in which they will belong too. 
        As a creative mind, my ultimate goal is to transmit my vision and reach different souls around the world who can resonate with it too.</p>
    </div>
  </div>
    <div class="column">
      <img src={{ site.github.url }}/assets/img/burro.jpg alt="Image" width="500">
    </div>
  
</section>
