---
layout: default
---

<section>
  <div class="row">
    <div class="column">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus egestas consequat. Curabitur consectetur urna tempor dui vehicula sagittis. Quisque porttitor pellentesque lorem, in interdum metus pellentesque quis. Aliquam erat volutpat. Phasellus tempus egestas consequat. Curabitur consectetur urna tempor dui vehicula sagittis.</p>
    </div>
    <div class="column">
      <img src=url({{ site.github.url }}/assets/img/burro.jpg) alt="Image">
    </div>
  </div>
  
</section>
