---
layout: default
---
<section>
  <p style="padding-top: 200px; padding-bottom: 20px; padding-left: 600px padding-right:10px;font-size:14px; line-height:1.5em; text-align:center; font-family:poppins-extralight,poppins,sans-serif;letter-spacing:0.2em;">
    Las colaboraciones, son trabajos en los que nacerá el concepto, con la coreografía, y posterior adaptaremos el vestuario a lo dicho. Trabajos en los que según la esencia de la marca, me integraré al máximo,  para poder realmente entender las historias y conseguir la sinergia perfecta entre la música, la coreografía, y el vestuario. Asi como un gran trabajo en equipo entre director creativo y diseñador. Todo esto, para crear una obra perfecta en su composición.

Próximamente, se espera una colaboración muy especial para el 2023, en la que con la asociación DAB, crearé su vestuario para contar la historia de Balenciaga y crear una serie de visitas guiadas danzadas en el museo dedicado al modisto en Getaria. Actualmente, ya nos encontramos en el proceso creativo de dicho proyecto.
</p>
</section>
