---
layout: default
---
<!-- <section>
  <p style="padding-top: 200px; padding-bottom: 20px; padding-left: 600px padding-right:10px;font-size:14px; line-height:1.5em; text-align:center; font-family:Roboto;font-weight: 400;">
    
You may contact me through my email or tweet at me if you have any questions or would like to bring up any issues.
</p>
</section> -->
<form class="form" action="//formspree.io/iturrioznaia@email.com" method="POST">
  <p>Nombre: </p><input type="text" name="name"><br />
  <p>Email: </p><input type="email" name="email"><br />
  <input type="submit" value="Send">
</form>
