---
layout: default
---
<section>
  <p style="padding-top: 200px; padding-bottom: 20px; padding-left: 600px padding-right:10px;font-size:14px; line-height:1.5em; text-align:center; font-family:poppins-extralight,poppins,sans-serif;letter-spacing:0.2em;">
    Los proyectos de la marca se basan en colecciones artísticas, siempre dirigidas al público objetivo de la marca, que nacen de un concepto o historia, para posterior adaptar la pieza coreográfica a los looks. Serán proyectos personales, con uso disponible para las compañías o coreógrafos interesadas en la obra artística. 
    La primera de estas, es el proyecto con el que la marca abre sus puertas; AURA. En la que manifiesto la expresión de las emociones a través de la moda, la música, y la expresión corporal.
  </p>

  <div class="project-container">
    {% for project in site.data.settings.projects %}
      <a href="{{ site.github.url }}/projects/{{ project.url }}">
        <div class="project-unit" data-folder="{{ site.github.url }}/projects/{{ project.url }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.url }}/thumbnail.jpg)">
          <div class="project-overlay">
            <strong>{{ project.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
